.root {
  /* min-width: 300px; */
}

.drawer {
  width: 200px;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item {
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

.active.active {
  color: #1976d2;
  border: 1px solid #1976d2;
}

.drawerPaper {
  width: 200px;
  padding-top: 56px;
}

@media(min-width: 600px) {
  .drawerPaper {
    padding-top: 64px;
  }
}

@media(max-width: 600px) {
  .drawer {
    width: 100%;
    flex-direction: column;
  }
  .drawer .drawerPaper {
    width: 100%;
    position: static;
  }
}