.pre {
  max-width: calc(100% - 200px);
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin: 0;
}

.card {
  margin: 10px;
  margin-bottom: 15px;
}

.card .cardContent {
  padding-top: 6px;
  padding-bottom: 6px;
}

.tag {
  margin: 8px 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  font-size: 0.8125rem;
  border-radius: 16px;
}

.tagBlue {
  color: #fff;
  background-color: #1976d2;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title .small {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.rightGroup {
  margin-left: auto;
}

.colorRed {
  color: #bf6e6e;
}

.colorGreen {
  color: #6ebf83;
}

.ratingCount {
  color: rgba(35, 35, 35, 0.87);
  font-weight: 500;
}

.iconDown {
  margin-bottom: 1px;
}

.iconUp {
  margin-top: 1px;
}